<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registro de usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Complete los campos</ion-card-subtitle>
      <ion-card-title>Registro Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Aqui ira todo lo de registro de usuario
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
